.button--gray {
    @include styleButton($color-white-0, $color-white-2, transparent, $fs-0 - 1, $fw-0, $pd-3 / 2, $pd-3);
    transition: .5s;
    &:hover {
        background-color: $color-brown-0;
    }
}

.button--black {
    @include styleButton($color-white-0, $color-black-2, transparent, $fs-0 - 1, $fw-0, $pd-3 / 2, $pd-3);
    transition: .5s;
    &:hover {
        background-color: $color-brown-0;
    }
}

.button--white {
    @include styleButton($color-black-2, $color-white-0, $color-black-2, $fs-0 - 1, $fw-0, $pd-3 / 2, $pd-3);
    transition: .5s;
    &:hover {
        background-color: $color-black-2;
        color: $color-white-0;
    }
}

.button--price {
    @include styleButton($color-black-2, $color-white-0, $color-black-2, $fs-0, $fw-0, $pd-3 / 2, $pd-3 + 10);
    transition: .5s;
    border-radius: 0;
    &:hover {
        background-color: $color-black-2;
        color: $color-white-0;
    }
    &.button--priceBrown:hover{
        background-color: $color-brown-0;
    }
}