.darkMode{
    .jobs {
        background-color: $color-dark-7;
        .jobs__content {
            .jobs__items {
                h2 {
                    color: $color-dark-6;
                }
            }
            .border-right{
                border-right: 1px solid $color-dark-2 !important;
            }
        }
    }
}